body {}

table {
    background-color: rgb(39, 42, 60);
}

.selda {
    background-color: blue;
    border: solid #fff;
}

.selda th,
td {
    border: 1px solid #dddddd;
    padding: 30px;
    color: #0d2033;
}

.selda th {
    background-color: #1e0a68;
    color: #fff;
    border: solid lavender 1px;
    text-align: center;
}

td:hover {
    background-color: #160f4b;

}

td,
img {
    height: 150px;
}