body {}

table {
    background-color: aquamarine;
}

.selda {
    background-color: blue;
    border: solid #fff;
}

.selda th,
td {
    border: 1px solid #dddddd;
    padding: 30px;
    color: #0d2033;
}

.selda th {
    background-color: #680a0a;
    color: #fff;
    border: solid lavender 1px;
    text-align: center;
}

td:hover {
    background-color: #680a0a;

}

td,
img {
    height: 150px;
}